<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334405859719-tllbt21o8tn21ijp7lgm0fjqnfj0k3hv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334405859719-tllbt21o8tn21ijp7lgm0fjqnfj0k3hv</string>
	<key>API_KEY</key>
	<string>AIzaSyD4HhlF9kB0wfcA_sJVTg5aN3AUY9UCzxI</string>
	<key>GCM_SENDER_ID</key>
	<string>334405859719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.triptonic.dev</string>
	<key>PROJECT_ID</key>
	<string>trip-tonic-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>trip-tonic-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334405859719:ios:943e91c64c39dd40473b22</string>
</dict>
</plist>